# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Misc
*.sublime-workspace
*.sublime-project

# VSCode
.vscode/

# Optional npm cache directory
.npm

# Build output
/dist
/build

# Others
*.tgz
.idea/
*.swp
